html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Avenir Next';
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

i {
  font-family: FontAwesome;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
}

/* -- Top -- */

header#index,
#archive {
  color: white;
}

header#contact,
#bio {
  color: black;
}

h1.title {
  display: inline-block;
  font-size: 2rem;
  padding-left: 2rem;
}

.header-menu-container {
  float: right;
  line-height: 3rem;
}

.header-menu li {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 2rem;
}

.background-slide {
  /* overflow: hidden; */
  white-space: nowrap;
}

.background-slide img {
  height: 100vh;
}

.background-slide-loop {
  /* position: absolute; */
}

.background-slide-loop li {
  display: inline-block;
  transition: all 0.5s ease-in-out;
  transform: translateX(-3%);
}

.latest-container {
  position: fixed;
  width: 100%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
}

.latest {
  /* ここがなんでwidth必要なのかわからない */
  width: 200px;
  margin: auto;
}

.latest a {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.1rem;
  color: black;
  line-height: 25px;
  width: 200px;
  text-align: center;
  letter-spacing: 0.8rem;
  font-weight: 600;
}

.icon-container {
  position: fixed;
  width: 100%;
  bottom: 20px;
}

.icons {
  width: 170px;
  margin: auto;
  text-align: center;
}

.fab,
.far {
  font-size: 2rem;
  color: white;
  padding: 0 5px;
}

.slider {
  height: 100vh;
  width: 100vw;
}

.slick-item {
  width: 100vw;
  height: 100vh;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 670px) {
  .slider {
    height: 50vh;
    transform: translateY(45%);
  }

  .slick-item {
    height: 50vh;
    background-size: contain;
  }

  .fab,
  .far {
    color: black;
  }

  header#index {
    color: black;
  }
}

@media (max-width: 558px) {
  .slider {
    transform: translateY(40%);
  }
}

.slick-item.item-1 {
  background-image: url(../images/top_1024_1.jpg);
}
.slick-item.item-2 {
  background-image: url(../images/top_1024_2.jpg);
}
.slick-item.item-3 {
  background-image: url(../images/top_1024_3.jpg);
}
.slick-item.item-4 {
  background-image: url(../images/top_1024_4.jpg);
}

/* <------------------biography--------------------> */

header#bio {
  background-color: white;
}

.bio-row {
  margin-top: 70px;
  display: flex;
}

@media (max-width: 558px) {
  .bio-row {
    margin-top: 100px;
  }
}

.bio-img-container {
  flex: 1;
  height: max-content;
}

.bio-img {
  width: 100%;
}

.bio-container {
  flex: 1;
  margin-left: 5%;
  height: max-content;
}

@media (min-width: 760px) {
  .bio-container {
    transform: translateY(calc(95vh - 70px));
  }

  .bio-img-container {
    position: sticky;
  }
}

@media (max-width: 759px) {
  .bio-row {
    display: block;
  }
}
.bio-container h2 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 4rem;
  padding-bottom: 10px;
}

.bio-container p {
  font-size: 1rem;
  line-height: 5rem;
}

/* <------------------archive--------------------> */

.project-container {
  position: relative;
}

.project-img {
  width: 100%;
}

.project-title-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
}

.project-title {
  padding-bottom: 20px;
  text-align: center;
}

.project-1-title {
  color: white;
  font-style: italic;
  letter-spacing: -0.1rem;
}

.project-2-title {
  font-family: 'Avenir Next';
  font-weight: 700;
  color: white;
  letter-spacing: 2rem;
}

@media (min-width: 591px) {
  .project-1-title {
    font-size: 5rem;
  }

  .project-2-title {
    font-size: 7rem;
  }
}

@media (max-width: 558px) {
  .project-1-title {
    font-size: 2.8rem;
  }
  .project-2-title {
    font-size: 3.6rem;
  }
}

.look-button {
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 80px;
}

.look-button a {
  color: black;
  mix-blend-mode: multiply;
  line-height: 20px;
  letter-spacing: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  font-style: italic;
}

/* <------------------contact--------------------> */

.message-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: max-content;
  height: 100px;
}

.message-container p {
  font-size: 1rem;
  line-height: 4rem;
}

#contact-icon {
  font-size: 1.2rem;
  color: black;
  padding-right: 1rem;
}
