html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  width: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

header {
  color: white;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
}

h1.title {
  display: inline-block;
  font-size: 2rem;
  padding-left: 2rem;
}

.header-menu-container {
  float: right;
  line-height: 3rem;
}

.swiper-container {
    width: 100vw;
    height: 100vh;
}

.swiper-slide {
  /* width: 90%; */
  background-position: 50% 50%;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.swiper-slide.slide-1{
  background-image: url("../images/top_1024_1.jpg");
}


.swiper-slide.slide-2{
  background-image: url("../images/top_1024_2.jpg");
}

.swiper-slide.slide-3{
  background-image: url("../images/top_1024_3.jpg");
}

.swiper-slide.slide-4{
  background-image: url("../images/top_1024_4.jpg");
}

.swiper-slide.slide-5{
  background-image: url("../images/top_1024_5.jpg");
}


.header-menu {
  display: inline-block;
  float: right;
}

.header-menu li {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 2rem;
}
